<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>

<div id="div_test">

</div>

<script>
	var UserName = '@ViewBag.UserName';
	var Ticket = '@ViewBag.Ticket';
</script>

$(function () {
		$(document).ready(function ()
		{
			$.ajax({
				type: "get",
				url: "http://localhost:60004/api/shows?pageindex=1&pagesize=10&order=1",
				data: {},
				beforeSend: function (XHR) {
					XHR.setRequestHeader('Authorization', 'BasicAuth ' + Ticket);
				},

				success: function (data, status) {
					if (status = "success") {
						$("#div_test").html(data);
					}
				},

				error: function (e) {
					$("#div_test").html(e.error);
				},

				complete: function ()
				{ }
			});
		});
	});
